.footer {
    margin-bottom: 1.5em;
    @include flexible(flex, column, nowrap, center, center);

    &-author {
        color: map-get($map: $palete, $key: "white");
        margin-top: 1em;
        font-weight: 700;
        font-size: 1.2em;

        &--violet {
            color: map-get($map: $palete, $key: "primary");
            border-bottom: .2em solid map-get($map: $palete, $key: "primary");
        }

        &--bordertop {
            border-top: .2em solid map-get($map: $palete, $key: "white");
        }
    }
}