.footer {
    width: 100%;
    margin-bottom: 1em;
    @include flexible(flex, row, nowrap, space-around, center);

    &__author {
        
        color: map-get($map: $palete, $key: "primary");
        font-weight: 300;
        font-size: 1em;
        text-transform: lowercase;
        letter-spacing: .02em;
        opacity: .8;

        &--white {
            color: map-get($map: $palete, $key: "white");
            border-bottom: 1px solid map-get($map: $palete, $key: "white");
        }
    }
}