.footer {
    margin-bottom: 1em;
    @include flexible(flex, column, nowrap, center, center);

    &__author {
        color: map-get($map: $palete, $key: "white");
        margin-top: .5em;
        font-weight: 800;
        font-size: 1.35em;
        letter-spacing: .1em;

        &--violet {
            color: map-get($map: $palete, $key: "primary");
        }
    }
}