.animated-gradient {
    background: linear-gradient(127deg, #1c6758, #434040);
    background-size: 400% 400%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-animation: greenGradientAnimate 8s ease infinite;
    -moz-animation: greenGradientAnimate 8s ease infinite;
    animation: greenGradientAnimate 8s ease infinite;
}

@-webkit-keyframes greenGradientAnimate {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
@-moz-keyframes greenGradientAnimate {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}
@keyframes greenGradientAnimate {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}