.carritoModal--hidden {
    display: none;
    pointer-events: none;
}

.carritoModal{
    position: absolute;
    background-color: map-get($map: $palete, $key: "primary");
    width: 60%;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    z-index: 10;

    &-nav {
        padding: 1em 1.5em;
        background-color: lightblue;
        @include flexible(flex, row, wrap, space-between, center);
    }

    &-itemsContainer {
        width: 100%;
        padding: 1em;
        max-height: 25em;
        overflow-y: scroll;
        background-color: lightcoral;
        @include flexible(flex, column, nowrap, flex-start, flex-start);
    }

    &-footer {
        
        padding: 1em 1.5em;
        background-color: lightgreen;
    }
}

.item {
    width: 100%;
    padding: 1em;
    background-color: aqua;
    margin: .5em 0;
    @include flexible(flex, row, wrap, center, center);

    &-name {
        background-color: aquamarine;
    }

    &-price {
        background-color: antiquewhite;
    }
}

.black-shade {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.black-shade--hidden {
    display: none;
    pointer-events: none;
}