.nav {
    width: 100%;
    padding: 1em 0;

    @include flexible(flex, row, wrap, space-around, center);

    &-logo {
        color: map-get($map: $palete, $key: "white");
        font-weight: 800;
        font-size: 2em;
        letter-spacing: .1em;

        &--violet {
            color: map-get($map: $palete, $key: "primary");
        }
    }

    &-cart {
        background-color: map-get($map: $palete, $key: "primary");
        border-radius: 25%;
        padding: .5em;
        color: map-get($map: $palete, $key: "white");
        @include flexible(flex, row, wrap, space-around, center);
        gap: 5px;
    }
}



