.productItem{
    background: #1c1c1c;
    width: 12em;
    height: 20em;
    border-radius: 5%;
    margin: 1.5em;

    @include flexible(flex, row, wrap, space-around, center);

    &__info {
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 1em;
        color: map-get($map: $palete, $key: "white");
    }

    &__button {
        color: map-get($map: $palete, $key: "blak");
        background-color: map-get($map: $palete, $key: "primary");
        width: 100%;
        height: 15%;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        align-self: flex-end;
        margin: .5em;
        font-weight: 600;
        font-size: 1.1em;
    }
}