.producsection {
    min-height: 90vh;

    @include flexible(flex, column, wrap, center, center);

    &__title {
        font-weight: 400;
        font-size: 2em;
        color: map-get($map: $palete, $key: "white");
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -70%;
            left: 0;
            background-color: map-get($map: $palete, $key: "primary");
            width: 2.3em;
            height: .2em;
            opacity: .8;
        }
    }
}

.productsView {
    margin: 2em;

    @include flexible(flex, row, wrap, center, center)
}